* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background:#f8fafc;
  color: #0f172a;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: auto;
}

.page {
  min-height: 100vh;
}

.gradient-text {
  background: linear-gradient(90deg, #7c3aed, #0ea5e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.primary-btn {
  background: linear-gradient(90deg, #7c3aed, #6d28d9);
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 14px;
  font-weight: 600;
}

.secondary-btn {
  background: white;
  border: 1px solid #d1d5db;
  padding: 14px 28px;
  border-radius: 14px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.logo span {
  color: #7c3aed;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.hero {
  padding-top: 100px;
}

.badge {
  color: #7c3aed;
  margin-bottom: 30px;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.hero-text {
  font-size: 22px;
  color: #64748b;
  width: 60%;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}
.events-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feedback-box {
  max-width: 700px;
  margin: 60px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, textarea {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
}

.reviews-title {
  text-align: center;
  margin: 50px 0;
  font-size: 42px;
  font-weight: 700;
}

.no-review {
  text-align: center;
  font-size: 18px;
  color: #64748b;
}

.reviews-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review-card {
  background: linear-gradient(135deg, #ffffff, #f3e8ff);
  padding: 28px;
  border-radius: 24px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.review-card:hover {
  transform: translateY(-6px);
}

.review-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.avatar {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #7c3aed, #0ea5e9);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.review-header h3 {
  font-size: 22px;
  margin-bottom: 4px;
}

.event-name {
  color: #64748b;
  font-size: 14px;
}

.stars {
  font-size: 22px;
  margin-bottom: 18px;
}

.review-text {
  color: #334155;
  line-height: 1.7;
  font-size: 16px;
}